@{
    ViewBag.Title = "AboutUS";
    Layout = "~/Views/Shared/masterpage.cshtml";
}

<h2>AboutUS</h2>
<hr style="height:1px;background:#dee1e6;margin-top:1%" />
             <section class="blog">
                   <h2 style="margin-left:6%">Training Schedule(Diploma CS/IT,B.sc(CS/IT),B.Tech(CS/IT),BCA/MCA)</h2>
                  <span style="margin-left:6%;color:#0062c5;font-weight:800">Note:-</span><span style="margin-left:2%;font-weight:800">Main Class: 4-5 Hours</span><span style="margin-left:2%;font-weight:800">Recovery Class: 2.00-2.30 Hours</span>
                 <div class="container panel panel-body" style="border:2px solid #dee1e6;margin-top:3%">
                   
                     <div class="row one">
                         <div class="col-12 col-sm-6 col-lg-4 two" style="margin-top:2%;">
                               <div class="bench" data-aos="fade-up" data-aos-duration="500" style="">
                                   <h4 style="font-weight:bolder;color:#0062c5">Vocational Training</h4>
                                   <h5>Duration-50-60 Days</h5>
                                   </div>
                         </div>
                          <div class="col-12 col-sm-6 col-lg-4 two" style="margin-top:2%;">
                               <div class="bench" data-aos="fade-up" data-aos-duration="500">
                                   <h4 style="font-weight:bolder;color:#0062c5">Summer Training</h4>
                                   <h5>Duration-50-60 Days</h5>
                                   </div>
                         </div>
                          <div class="col-12 col-sm-6 col-lg-4 two" style="margin-top:2%;">
                               <div class="bench" data-aos="fade-up" data-aos-duration="500">
                                   <h4 style="font-weight:bolder;color:#0062c5">Industrial Training</h4>
                                   <h5>Duration-90-120 Days</h5>
                                   </div>
                         </div>
                          <div class="col-12 col-sm-6 col-lg-4 two" style="margin-top:2%;">
                               <div class="bench" data-aos="fade-up" data-aos-duration="500">
                                    <h4 style="font-weight:bolder;color:#0062c5">Live Project Training</h4>
                                   <h5>Duration-180-190 Days</h5>
                                   </div>
                         </div>
                         <div class="col-12 col-sm-6 col-lg-4 two" style="margin-top:2%;">
                               <div class="bench" data-aos="fade-up" data-aos-duration="500">
                                    <h4 style="font-weight:bolder;color:#0062c5">Apprenticeship Training</h3>
                                   <h5>Duration-180-190 Days</h5>
                                   </div>
                         </div>
                          <div class="col-12 col-sm-6 col-lg-4 two" style="margin-top:2%;">
                               <div class="bench" data-aos="fade-up" data-aos-duration="500">
                                    <h4 style="font-weight:bolder;color:#0062c5">PD Training</h3>
                                   <h5>Duration-30-45 Days</h5>
                                   </div>
                         </div>
                     </div>
                      
                      

                 </div>
                 <br />
                 <br />
                  
             </section>
     <section class="blog">
        <div class="container">
            <h2>Our Technologies</h2>
            <div class="row one">
                <div class="col-12 col-sm-6 col-lg-4 two">
                    <div class="bench" data-aos="fade-up" data-aos-duration="500">
                        <a href="blog_single.html">
                            <img src="Technologies Logos/angularjs.png" alt="table" class="img img-thumbnail" style="height:200px;width:100%">
                            <h5>Angular JS</h5>
                            <%--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                   --%>  </a>
                       
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 two">
                    <div class="bench" data-aos="fade-up" data-aos-duration="800">
                        <a href="blog_single.html">
                            <img src="Technologies Logos/data science.jpg" alt="sofa" class="img img-thumbnail" style="height:200px;width:100%">
                            <h5>Data Science</h5>
                         <%--   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                     --%>  </a>
                        
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 two">
                    <div class="bench" data-aos="fade-up" data-aos-duration="1100">
                        <a href="blog_single.html">
                            <img src="Technologies Logos/django.png" alt="table" style="height:200px;width:100%">
                            <h5>DJango</h5>
                           <%-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                        --%></a>
                       
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 two">
                    <div class="bench" data-aos="fade-up" data-aos-duration="500">
                        <a href="blog_single.html">
                            <img src="Technologies Logos/hibernate.png" alt="sofa" class="img img-thumbnail"  style="height:200px;width:100%">
                            <h5>Hybernate</h5>
                            <%--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                      --%>  </a>
                       
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 two">
                    <div class="bench" data-aos="fade-up" data-aos-duration="800">
                        <a href="#">
                            <img src="Technologies Logos/javascript.jpg" class="img img-thumbnail"  alt="table" style="height:200px;width:100%">
                            <h5>Java Script</h5>
                            <%--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                        --%></a>
                        
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 two">
                    <div class="bench" data-aos="fade-up" data-aos-duration="1100">
                        <a href="#">
                            <img src="Technologies Logos/jquery.jpg" class="img img-thumbnail"  alt="sofa">
                            <h5>JQuery</h5>
                            <%--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                       --%> </a>
                        
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 two">
                    <div class="bench" data-aos="fade-up" data-aos-duration="500">
                        <a href="#">
                            <img src="Technologies Logos/machine learning.jpg" class="img img-thumbnail"  style="height:200px;width:100%" alt="table">
                            <h5>Mechine Learning</h5>
                            <%--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                        --%></a>
                        
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 two">
                    <div class="bench" data-aos="fade-up" data-aos-duration="800">
                        <a href="#">
                            <img src="Technologies Logos/RaspberryPi_3B.png" class="img img-thumbnail"  alt="sofa" style="height:200px;width:100%">
                            <h5>RaspberryPi</h5>
                           <%-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                       --%> </a>
                        
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 two">
                    <div class="bench" data-aos="fade-up" data-aos-duration="1100">
                        <a href="#">
                            <img src="Technologies Logos/spring.png" class="img img-thumbnail"  style="height:200px;width:100%" alt="table">
                            <h5>Spring</h5>
                            <%--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                        --%></a>
                       
                    </div>
                </div>
            </div>
          

        </div>
    </section>